<% layout('layouts/boilerplate') %>
  <div class="row">
    <div class="col-6 offset-3">
      <h1 class="text-center mt-3 mb-5">제품 편집하기</h1>
      <form action="<%= originalUrl %>?_method=PUT" method="POST" novalidate class="validated-form"
        enctype="multipart/form-data">
        <div class="mb-3">
          <label for="category" class="form-label">제품 카테고리</label>
          <div class="form-control">
            <select name="wheel[category]" id="category">
              <option value="현대">현대</option>
              <option value="기아">기아</option>
              <option value="기타 차량">기타 차량</option>
              <option value="BMW">BMW</option>
              <option value="벤츠">벤츠</option>
              <option value="기타 수입 차량">기타 수입 차량</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">제품명</label>
          <input type="text" class="form-control" id="name" value="<%=wheel.name %>" name="wheel[name]" required>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">제품 이미지</label>
          <input type="file" class="form-control" id="image" name="image" required>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">가격</label>
          <input type="number" class="form-control" id="price" min=0 step="100" value=<%=wheel.price %>
          name="wheel[price]" required>
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">재고</label>
          <input type="number" class="form-control" id="quantity" min=0 value=<%=wheel.quantity %>
          name="wheel[quantity]" required>
        </div>
        <div class=" mb-3 d-none">
          <label for="owner" class="form-label">관리자 아이디</label>
          <input type="text" class="form-control" id="owner" value="<%= currentUser._id %> " name="wheel[owner]"
            required>
        </div>
        <button type=" submit" class="btn btn-primary float-right my-3">편집하기</button>
      </form>
    </div>
  </div>